@media only screen and (max-width: 800px)
  .container
    width: 100%

@media only screen and (max-width: 600px)
  .status-left
    width: 64px
    flex: 0 0 64px
    font-size: .7em
    padding: .5em
    box-sizing: border-box
  .status-right
    padding: 1em
    font-size: 1em
  .alert
    margin: 35% 0
