body
  font-family: Georgia

h1
  text-align: center
  margin: 2em
  small
    font-size: .6em
    a
      color: #aaa
      text-decoration: none
      &:hover, &:active
        color: cornflowerblue

.warn
  background: wheat

.success
  background: olivedrab

.info
  background: skyblue

.error
  background: tomato
