body
  font-family: Georgia

h1
  text-align: center
  margin: 2em
  small
    font-size: .6em
    a
      color: #aaa
      text-decoration: none
      &:hover, &:active
        color: cornflowerblue

.status
  padding: 1em
  background: aliceblue
  margin: 2em
  border: 2px solid wheat
  border-radius: 5px
  position: relative
  span
    text-align: right
    font-size: .8em
    background: wheat
    padding: .3em .5em
    float: right
    margin: -1em 0 0 .4em

.warn
  background: wheat

.success
  background: olivedrab

.info
  background: skyblue

.error
  background: tomato

@media only screen and (max-width: 600px)
  .status
    margin: .1em
