.container
  width: 800px
  margin: 0 auto

.timeline
  padding: 0

.status
  list-style-type: none
  padding: 1em
  background: aliceblue
  border: 2px solid wheat
  border-radius: 5px
  position: relative
  span
    text-align: right
    font-size: .8em
    background: wheat
    padding: .3em .5em
    float: right
    margin: -1em 0 0 .4em
