.container
  width: 800px
  margin: 0 auto

.timeline
  padding: 0

.status
  list-style-type: none
  position: relative
  display: flex
  x-justify-content: space-around
  x-align-items: stretch
  max-width: 800px
  p
    margin: 0

.status-left
  width: 150px
  flex: 0 0 150px
  border-right: 3px solid #ddd
  position: relative
  &:after
    content: ""
    position: absolute
    right: -8px
    top: -6px
    display: block
    background: #ddd
    width: 8px
    height: 8px
    border-radius: 50%
    border: 3px solid white

.status-right
  border-top: 3px solid #ddd
  width: 100%
  padding: 1em
  font-size: 1.2em

.datetime
  display: block
  text-align: right
  text-align: center
  margin-top: -10px
  color: #ccc
  font-style: italic

.account
  color: darken($blue, 70%)
  font-size: .8em
  opacity: .7

.soc
  color: darken($blue, 70%)
  opacity: .7

.alert
  padding: 9px
  border-radius: 50%
  display: inline-block
  margin: 35%

.trigger
  background: $blue

.success
  background: $green
