.graph
  margin: 1em 0 0 0

path
  stroke: white
  fill: white
  stroke-width: 0

text
  font: 10px sans-serif

.axis path, .axis line
  fill: none
  stroke: #000
  shape-rendering: crispEdges

.x.axis path
  display: none

.line
  fill: none
  stroke: maroon
  stroke-width: 2px

.line.above
  stroke: steelblue
