body {
  font-family: Georgia;
}

h1 {
  text-align: center;
  margin: 2em;
}

h1 small {
  font-size: .6em;
}

h1 small a {
  color: #aaa;
  text-decoration: none;
}

h1 small a:hover, h1 small a:active {
  color: cornflowerblue;
}

.status {
  padding: 1em;
  background: aliceblue;
  margin: 2em;
  border: 2px solid wheat;
  border-radius: 5px;
  position: relative;
}

.warn {
  background: wheat;
}

.success {
  background: olivedrab;
}

.info {
  background: skyblue;
}

.error {
  background: tomato;
}

.status span {
  text-align: right;
  font-size: .8em;
  background: wheat;
  padding: .3em .5em;
  float: right;
  margin: -1em 0 0 .4em;
}

@media only screen and (max-width: 600px){
  .status { margin: .1em;}
}
