<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"> <path d="M31.7 7L29 4.4c-.5-.4-1.2-.4-1.6 0L13 19.6l-8.4-8.3c-.4-.4-1-.4-1.4 0l-3 3c-.3.3-.3 1 0 1.3l12 12c.2.3.5.4.8.4.3 0 .6 0 .8-.3l18-19c.3-.5.3-1.2 0-1.6z" class="path1"/> </svg>
